@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.my-app {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.cards-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 5rem;
}