.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 1rem 5rem;
}

.link-to {
    text-decoration: none;
    color: #1e1e1e;
    padding: 0.5rem 0;
    cursor: pointer;
}

.active {
    text-decoration: none;
    color: #1e1e1e;
    padding: 0.5rem 0;
    cursor: pointer;
    border-bottom: 2px solid red;
}